<section class="bg-zinc-900 rounded-xl m-4 text-center p-8">
    <h1 class="text-5xl font-bold my-5">About Us</h1>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore assumenda quisquam dolorem ad. Nemo culpa quasi nihil asperiores, eaque odio, blanditiis ea facilis quam rem voluptatum, similique et! Eum, quis!</p>
</section>

