<header class="container bg-zinc-900 flex flex-col  md:flex-row text-center md:text-left p-10 gap-3 rounded-xl">
  <div>
    <h1 class="text-4xl font-bold pb-8">Protect Your Password</h1>
    <p class="my-4 text-2xl pb-8"> 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, deserunt!
    </p>
    <button class="bg-indigo-400 px-3 py-2 mb-8 hover:bg-indigo-800 rounded-2xl md:m-auto"> Start Now</button>
  </div>
  <img src="images/finger.svg" alt="logo" class="w-80 text-center" />
</header>
