<footer class="bg-zinc-900 mx-auto py-10 ">
  <div class="container gap-4 flex flex-col md:flex-row justify-evenly text-center md:text-left">
    <div>
      <h4 class="font-bold text-xl">Site Map</h4>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Price</a>
    </div>
    <div>
      <h4 class="font-bold text-xl">Site Map</h4>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
    </div>
    <div>
      <h4 class="font-bold text-xl">Social</h4>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">YouTube</a>
    </div>
  </div>
</footer>
